body {
    background-color: #bfbfbf;
    color: #404040;
    margin: 0;
    padding: 0;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

.logo {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
}

main {
    background-color: #bfbfbf;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
}

main > p {
    max-width: min(80ch, 100wv - 4rem);
    margin-inline: auto;
}

nav > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

img {
    max-width: 100%;
}

header > a > img {
    max-width: 25%;
    max-height: 25%;
}

h1 {
    text-align: center;
    padding-top: 3rem;
}

h2 {
    padding-top: 3rem;
}

h3 {
    padding-top: 1.2rem;
}

footer {
    padding-bottom: 3rem;
    font-size: xx-small;
    text-align: right;
}